
.header{
    display: flex;
}

.socialicon {
    margin-left: 50px;
    margin-top: 30px;
}

a{
    margin-top: 70px;
    margin: 10px;
}
.buttonstyle{
    border-color: pink;
    border-radius: 50px;
}
.title{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    
}
.title img{
    width: 50%;
}

.navbar-expand-lg a {
    text-align: center;
}
.collapse:not(.show) {
    display: block;
}

.dropdown-menu a{
    margin-left: 0;
}