
.container-fluid{
  color: white;
}
html body{
  background-color: #090816 ;
}


.icon{
  margin: 10px;
}
.dropdown-toggle{
  background-color: teal !important;

  color: white;
  font-family:'Arial Narrow Bold', sans-serif;
}
.dropdown-toggle:hover{
  color: white;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
  text-transform: uppercase;;
}

hr {
  border: 0.5px solid #6f6e98;
}

a:hover {
  text-decoration: none;
}
a:active {
  background-color: white !important;
} 
a {
  color: white;
  font-weight: bold;
}

.snx-pink {
  color: #6f6e98
}

/* Home Page */
/* .background-colour {
  background-color: #090816;
} */

.stat-banner {
  justify-content: center;
  text-align: center;
  background: rgba(255,255,255,0.5);;
  padding: 10px;
}

.main-btn {
  padding: 10px 30px;
  color: black;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(232, 231, 253);
  cursor: pointer;
  border-radius: 4px;
  margin: 10px 55%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

.main-btn a {
  color: black;
  margin: auto;
}

@media (max-width: 576px) {
 
  .main-btn {
      max-width: 60% !important;
      display: block;
      text-align: center;
      margin-top: 10px;
      margin: auto !important;
  }
}


/* Proposal */

.proposal-box {
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #6f6e98;
  color: #090816;
  padding: 5px;
}

.voting-duration-box {
  background-color: #6f6e98;
  border-radius: 10px;
  border-width: 4px;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 10px 5px;
  width: 75%;
  color: white;
}